:root{
    --font-light: rgb(255,255,255);
    --font-dark: rgb(30, 30, 30);
    --page-padding: 20px 0px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body{
    font-family: "Open Sans", system-ui;
    font-size:16px;
    min-height: 100vh;
    display: flex;
    color: var(--font-dark);
}

body .sidebar{
    flex-basis: min(450px, 50%);
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/background.jpg");
    background-size: cover;
}

.sidebar .branding{
    display: flex;
    margin: auto 0;
    gap:16px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35))
}

.sidebar .logo{
    max-width: 75px;

}

.sidebar .company-name{
    font-family: Skranji, system-ui;
    font-weight: 400;
    color: var(--font-light);
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.sidebar .credit{
   align-self: center;
   color: var(--font-light);
   font-size:1.15rem; 
}

.credit a{
    color:var(--font-light);
}

.credit a:hover{
    opacity: 0.8;
}

body .main-area{
    flex-grow: 1;
    display: flex;
    padding: var(--page-padding);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-area .title{
    width:clamp(45ch, 50%, 75ch);
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    font-weight:500;

}

.main-area .signup-form{
    display: flex;
    flex-direction: column;
    gap:16px;
    width:clamp(45ch, 50%, 75ch);

}

.signup-form > div {
    display: flex;
    gap:16px;

}

.signup-form > div > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap:4px;
}

.signup-form .submit-form{
    align-self: center;
    margin-top:12px;
    padding: 12px 12px;
}


