:root{
    --font-light: rgb(255,255,255);
    --font-dark: rgb(30, 30, 30);
    --page-padding: 30px 0px;
    --primary-color: rgb(45, 63, 65);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body{
    font-family: "Open Sans", system-ui;
    font-size:16px;
    min-height: 100vh;
    display: flex;
    color: var(--font-dark);
}

body .sidebar{
    flex-basis: min(450px, 50%);
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/background.jpg");
    background-size: cover;
}

.sidebar .branding{
    display: flex;
    margin: auto 0;
    gap:16px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35))
}

.sidebar .logo{
    max-width: 75px;

}

.sidebar .company-name{
    font-family: Skranji, system-ui;
    font-weight: 400;
    color: var(--font-light);
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
}

.sidebar .credit{
   align-self: center;
   color: var(--font-light);
   font-size:1.15rem; 
}

.credit a{
    color:var(--font-light);
}

.credit a:hover{
    opacity: 0.8;
}

body .main-area{
    flex-grow: 1;
    display: flex;
    padding: var(--page-padding);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-area .title-container{
    display: flex;
    width:clamp(45ch, 50%, 75ch);
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.main-area .disclaimer{
    text-transform: uppercase;
    font-size:0.9rem;
    font-weight:550;
    letter-spacing: 0.5px;
    color: rgb(151, 151, 151)
}

.main-area .title{
    font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
    font-weight:700;
    color: var(--primary-color);
}

.main-area .signup-form{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:clamp(45ch, 50%, 75ch);
    border-radius: 8px;
}

.signup-form .instructions{
    font-weight:450;
    margin-bottom:10px;
}

.signup-form .required{
    color: red;
}

.signup-form > div {
    display: flex;
    gap:24px;

}

.signup-form > div > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap:4px;
}

.signup-form .submit-form{
    align-self: center;
    margin-top:20px;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--font-light);
    cursor: pointer;
    font-weight: 650;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.signup-form label{
    font-weight:450;
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--primary-color);
    cursor: pointer;
}
.signup-form input{
    height:35px;
    border:solid 2px rgb(214, 214, 214);
    border-radius:8px;
    background-color: rgb(252, 252, 252);
    min-width: 0;
}

.signup-form .required-field::after{
    content: "*";
    margin-left:3px;
    color:red;
}

.signup-form input:focus{
    outline: none;
    border: solid 2px var(--primary-color);
}

.signup-form input:not(:placeholder-shown):invalid{
    border:2px solid red;
}

.main-area .login{
    font-weight: 450;
}

.main-area .login a{
    color: var(--primary-color);
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    
    body{
        flex-direction: column;
    }

    body .sidebar{
        background-position: center;
        gap:20px;
    }

    body .main-area{
        padding:20px 20px;
    }
}

@media all and (max-width: 480px) {

    .main-area .signup-form{
        width: 100%;
    }

    .main-area .title-container{
        width: 100%;
    }
    
    .signup-form > div{
        flex-direction: column;
    }
}
